@font-face{
  font-family: 'Zona Pro';
  font-style: normal;
  color: white;
  src: url('./ZonaPro-Regular.otf');
}
@font-face{
  font-family: 'Zona Pro';
  font-style: normal;
  font-weight: bold;
  color: white;
  src: url('./ZonaPro-Bold.otf');
}
@font-face{
  font-family: 'Zona Pro';
  font-style: normal;
  font-weight: 1000;
  color: white;
  src: url('./ZonaPro-ExtraBold.otf');
}

@keyframes fadeInLeft{
  0% {opacity:0}
  70% {opacity:0; transform: translateX(-50px)}
  100% {opacity:1; transform: translateX(0)}
}

@keyframes fadeInRight{
  0% {opacity:0}
  70% {opacity:0; transform: translateX(50px)}
  100% {opacity:1; transform: translateX(0)}
}

*{
  /* box-sizing: border-box; */
 outline: solid 2px coral;
}

.AnimLeft{
  animation: fadeInLeft 3s ease-in-out;
}

.AnimRight{
  animation: fadeInRight 3s ease-in-out;
}

.TeamLogoContainer{
  position:absolute;
  display: grid;
  place-items: center;
  top: 40px;
  width: 1920px;
}

#SpacerTeams{
  width:320px;
}

#team1logo{
  max-width: 160px;
  max-height: 160px;
}

#team2logo{
  max-width: 160px;
  max-height: 160px;
}

.SpielerStatslBox{
  position: absolute;
  width: 795px;
  height:500px;
  top:70px;
  left:100px;
  background-color: black;
  opacity: 0.7;
  border-radius: 10px;
}

.SpielerStatslBoxKlein{
  position: absolute;
  width: 256px;
  height:340px;
  top:580px;
  background-color: black;
  opacity: 0.7;
  border-radius: 8px;
}

#SpielerStatslBoxKlein1{
  position: absolute;
  left:100px;
}

#SpielerStatslBoxKlein2{
  position: absolute;
  left:370px;
}

#SpielerStatslBoxKlein3{
  position: absolute;
  left:640px;
}

.SpielerStatsrBox{
  position: absolute;
  width: 795px;
  height:500px;
  top:70px;
  right:100px;
  background-color: black;
  opacity: 0.7;
  border-radius: 10px;
}

.SpielerStatsrBoxKlein{
  position: absolute;
  width: 256px;
  height:340px;
  top:580px;
  background-color: black;
  opacity: 0.7;
  border-radius: 8px;
}

#SpielerStatsrBoxKlein1{
  position: absolute;
  right:100px;
}

#SpielerStatsrBoxKlein2{
  position: absolute;
  right:370px;
}

#SpielerStatsrBoxKlein3{
  position: absolute;
  right:640px;
}

#SpielerStatsrPNG{
  position:absolute;
  left:0px;
  top:0px;
  width: 1920px;
  height: 1080px;
}

#SpielerStatslPNG{
  position:absolute;
  left:0px;
  top:0px;
  width: 1920px;
  height: 1080px;
}

.SpielerNamenBlue{
  display:grid;
  grid-template-columns: 225px 225px 225px;
  justify-content: space-around;
  color:white;
  width: 815px;
  height:3.5em;
  align-items:center;
  overflow: hidden;
  text-transform: uppercase;
  position:absolute;
  top:590px;
  left:90px;
}

.SpielerNamenBlueLine{
  font-family: Zona Pro;
  color: white;
  font-weight:bold;
  font-size: 34px;
  text-align: center;
  width: 225px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.SpielerNamenOrange{
  display:grid;
  grid-template-columns: 225px 225px 225px;
  justify-content: space-around;
  color:white;
  width: 815px;
  height:3.5em;
  align-items:center;
  overflow: hidden;
  text-transform: uppercase;
  position:absolute;
  top:590px;
  right:90px;
}

.SpielerNamenOrangeLine{
  font-family: Zona Pro;
  color: white;
  font-weight:bold;
  font-size: 34px;
  text-align: center;
  width: 225px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.TeamBlueStats{
  position:absolute;
  top:650px;
  left:136px;
}

.TeamBlueSpielerinStats{
  font-family: Zona Pro;
  color: white;
  width: 266px;
  height: 60px;
  font-size: 34px;
  text-align: center;
}

.TeamOrangeStats{
  position:absolute;
  top:650px;
  left: 1070px;;
}

.TeamOrangeSpielerinStats{
  font-family: Zona Pro;
  color: white;
  width: 266px;
  height: 60px;
  font-size: 34px;
  text-align: center;
}