@font-face{
  font-family: 'Zona Pro Countdown';
  font-style: normal;
  color: white;
  src: url('./ZonaProCountdown.otf');
}
@font-face{
  font-family: 'Zona Pro Bold Countdown';
  font-style: normal;
  font-weight: bold;
  color: white;
  src: url('./ZonaPro-BoldCountdown.otf');
}

@keyframes fadeInLeft{
  0% {opacity:0}
  70% {opacity:0; transform: translateX(-50px)}
  100% {opacity:1; transform: translateX(0)}
}

@keyframes fadeInRight{
  0% {opacity:0}
  70% {opacity:0; transform: translateX(50px)}
  100% {opacity:1; transform: translateX(0)}
}

*{
  /* box-sizing: border-box; */
  font-family: Zona Pro Countdown;
  /* outline: solid 2px coral; */
}

/* Animationen */

.AnimLeft{
  animation: fadeInLeft 3s ease-in-out;
}

.AnimRight{
  animation: fadeInRight 3s ease-in-out;
}

/* Team Logos oben */

.TeamLogoContainer{
  position: absolute;
  display: grid;
  grid-column-gap:322px;
  grid-template: auto / 160px 160px;
  top: 42px;
  left: 50%;
  transform: translate(-50%);
}

.TeamLogoContainer img{
  max-height:160px;
}

/* Spielerbilder */

.SpielerBilderLeftGrid{
  display:grid;
  grid-template:auto / 175px 175px 175px 175px 175px;
  position:absolute;
  top:125px;
  left:-7px;
}

.SpielerBilderLeftGrid img{
  max-height:340px;
}

.SpielerBilderRightGrid{
  display:grid;
  grid-template:auto / 175px 175px 175px 175px 175px;
  position:absolute;
  top:125px;
  right:96px;
}

.SpielerBilderRightGrid img{
  max-height:340px;
}

/* Spielernamen */

.SpielerNamenLeftGrid{
  display:grid;
  grid-column-gap:25px;
  grid-row-gap: 4px;
  grid-template: auto / 150px 150px 150px 150px 150px;
  color:white;
  width: 850px;
  position:absolute;
  top: 482px;
  left: 56px;
  text-align:center;
}

.SpielerNamenLeftGrid div{
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  height:1.2em;
}

.SpielerNamenRightGrid{
  display:grid;
  grid-column-gap:25px;
  grid-row-gap: 4px;
  grid-template: auto / 150px 150px 150px 150px 150px;
  color:white;
  width: 850px;
  position:absolute;
  top: 482px;
  right: 56px;
  text-align:center;
}

.SpielerNamenRightGrid div{
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  height:1.2em;
}

.namen{
  font-weight:bold;
  font-size:26px;
}

.maps{
  font-weight:normal;
  font-size:15px;
}

/* Stats */

.SpielerStatsLeftGrid{
  display:grid;
  grid-column-gap:25px;
  grid-row-gap: 83px;
  grid-template: auto / 150px 150px 150px 150px 150px;
  color:white;
  font-size:42px;
  width: 850px;
  position:absolute;
  top: 591px;
  left: 56px;
  text-align:center;
}

.SpielerStatsRightGrid{
  display:grid;
  grid-column-gap:25px;
  grid-row-gap: 83px;
  grid-template: auto / 150px 150px 150px 150px 150px;
  color:white;
  font-size:42px;
  width: 850px;
  position:absolute;
  top: 591px;
  right: 56px;
  text-align:center;
}

.HöchsterWert{
  font-weight:bold;
}