@keyframes fadeInLeft{
  0% {opacity:0}
  30% {opacity:0; transform: translateX(-50px)}
  100% {opacity:1; transform: translateX(0)}
}

@keyframes fadeInRight{
  0% {opacity:0}
  30% {opacity:0; transform: translateX(50px)}
  100% {opacity:1; transform: translateX(0)}
}

*{
  /* box-sizing: border-box; */
 /* outline: solid coral 2px; */
 font-family:'Sora Uni';
}

/* .AnimLeft{
  animation: fadeInLeft 1.3s ease-in-out;
}

.AnimRight{
  animation: fadeInRight 1.3s ease-in-out;
} */

.SpielerStatslBox{
  position: absolute;
  width: 795px;
  height:500px;
  top:70px;
  left:100px;
  background-color: black;
  opacity: 0.7;
  border-radius: 10px;
}

.SpielerStatslBoxKlein{
  position: absolute;
  width: 256px;
  height:340px;
  top:580px;
  background-color: black;
  opacity: 0.7;
  border-radius: 8px;
}

#SpielerStatslBoxKlein1{
  position: absolute;
  left:100px;
}

#SpielerStatslBoxKlein2{
  position: absolute;
  left:370px;
}

#SpielerStatslBoxKlein3{
  position: absolute;
  left:640px;
}

.SpielerStatsrBox{
  position: absolute;
  width: 795px;
  height:500px;
  top:70px;
  right:100px;
  background-color: black;
  opacity: 0.7;
  border-radius: 10px;
}

.SpielerStatsrBoxKlein{
  position: absolute;
  width: 256px;
  height:340px;
  top:580px;
  background-color: black;
  opacity: 0.7;
  border-radius: 8px;
}

#SpielerStatsrBoxKlein1{
  position: absolute;
  right:100px;
}

#SpielerStatsrBoxKlein2{
  position: absolute;
  right:370px;
}

#SpielerStatsrBoxKlein3{
  position: absolute;
  right:640px;
}

#SpielerStatsrPNG{
  z-index:1;
  position:absolute;
  left:0px;
  top:0px;
  width: 1920px;
  height: 1080px;
}

#SpielerStatslPNG{
  z-index:1;
  position:absolute;
  left:0px;
  top:0px;
  width: 1920px;
  height: 1080px;
}

.TeamNamenTable{
  display: grid;
  place-items: center;
}

.TeamNamen{
  text-transform: uppercase;
  position:absolute;
  top: 90px;
}

.TeamNamenText{
  color: white;
  font-weight:1000;
  height: 2em;
  width: 745px;
  font-size: 55px;
  text-align: center;
}
#SpacerTeams{
  width:185px;
}

#TeamBlueLogoLink{
  max-width: 325px;
  max-height: 325px;
}

#TeamOrangeLogoLink{
  max-width: 325px;
  max-height: 325px;
}

.SpielerNamenBlue{
  display:grid;
  grid-template-columns: 225px 225px 225px;
  justify-content: space-around;
  color:white;
  width: 815px;
  height:3.5em;
  align-items:center;
  overflow: hidden;
  text-transform: uppercase;
  position:absolute;
  top:590px;
  left:90px;
}

.SpielerNamenBlueLine{
  color: white;
  font-weight:bold;
  font-size: 34px;
  text-align: center;
  width: 225px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.SpielerNamenOrange{
  display:grid;
  grid-template-columns: 225px 225px 225px;
  justify-content: space-around;
  color:white;
  width: 815px;
  height:3.5em;
  align-items:center;
  overflow: hidden;
  text-transform: uppercase;
  position:absolute;
  top:590px;
  right:90px;
}

.SpielerNamenOrangeLine{
  color: white;
  font-weight:bold;
  font-size: 34px;
  text-align: center;
  width: 225px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.TeamBlueStats{
  position:absolute;
  top:650px;
  left:136px;
}

.TeamBlueSpielerinStats{
  color: white;
  width: 266px;
  height: 60px;
  font-size: 34px;
  text-align: center;
}

.TeamOrangeStats{
  position:absolute;
  top:650px;
  left: 1070px;;
}

.TeamOrangeSpielerinStats{
  color: white;
  width: 266px;
  height: 60px;
  font-size: 34px;
  text-align: center;
}