@font-face{
  font-family: 'Zona Pro';
  font-style: normal;
  color: white;
  src: url('./ZonaPro-Regular.otf');
}

@font-face{
  font-family: 'Zona Pro';
  font-style: normal;
  font-weight: bold;
  color: white;
  src: url('./ZonaPro-Bold.otf');
}

*{
  box-sizing: border-box;
 /* outline: solid coral; */
}

body{
font-family: 'Zona Pro';
background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; 
}

.Gruppe1{
  font-size: 44px;
  left: 455px;
  text-align: center;
  width: 450px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  width: inherit;
}

.Gruppe2{
  font-size: 44px;
  left: 1012px;
  text-align: center;
  width: 450px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  width: inherit;
}

.Zeile1{
  position: absolute;
  top: 278px;
  width: 450px;
}

.Zeile2{
  position: absolute;
  top: 354px;
  width: 450px;
}

.Zeile3{
  position: absolute;
  top: 430px;
  width: 450px;
}

.Zeile4{
  position: absolute;
  top: 506px;
  width: 450px;
}

.Zeile5{
  position: absolute;
  top: 582px;
  width: 450px;
}

.Zeile6{
  position: absolute;
  top: 658px;
  width: 450px;
}

.Zeile7{
  position: absolute;
  top: 734px;
  width: 450px;
}

.Zeile8{
  position: absolute;
  top: 810px;
  width: 450px;
}

.Zeile9{
  position: absolute;
  top: 886px;
  width: 450px;
}