@font-face{
  font-family: 'Zona Pro';
  font-style: normal;
  color: white;
  src: url('./ZonaPro-Regular.otf');
}

@font-face{
  font-family: 'Zona Pro';
  font-style: normal;
  font-weight: bold;
  color: white;
  src: url('./ZonaPro-Bold.otf');
}

*{
  box-sizing: border-box;
 /* outline: solid coral; */
}

body{
font-family: 'Zona Pro';
background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden;
}

.Gruppe1{
  font-size: 36px;
  left: 455px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  position: absolute;
  width:450px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Gruppe2{
  font-size: 36px;
  left: 1012px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  position: absolute;
  width:450px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Zeile1{
  position: absolute;
  top: 283px;
}

.Zeile2{
  position: absolute;
  top: 359px;
  width: 450px;
}

.Zeile3{
  position: absolute;
  top: 435px;
  width: 450px;
}

.Zeile4{
  position: absolute;
  top: 511px;
  width: 450px;
}

.Zeile5{
  position: absolute;
  top: 587px;
  width: 450px;
}

.Zeile6{
  position: absolute;
  top: 663px;
  width: 450px;
}

.Zeile7{
  position: absolute;
  top: 739px;
  width: 450px;
}

.Zeile8{
  position: absolute;
  top: 815px;
  width: 450px;
}

.Zeile9{
  position: absolute;
  top: 891px;
  width: 450px;
}